<!DOCTYPE html>
<html>
<head>
	<title>Resume</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,200,700" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
</head>
<body>


<div class="header">
      <div class="page-title-container">
        <h1 class="page-title page-title-first">Kabir</h1>
        <h1 class="page-title page-title-last">Virji</h1>
      </div>
      <div class="header-icons">
        <span ng-if="website" class="md-subhead page-subhead"><i class="fa fa-lg fa-code"></i><a href="http://kabirvijri.com">kabirvirji.com</a></span>
        <span ng-if="email" class="md-subhead page-subhead"><i class="fa fa-lg fa-envelope"></i><a href="mailto:kabirvirji@gmail.com">kabirvirji@gmail.com</a></span>
        <span ng-if="github" class="md-subhead page-subhead"><i class="fa fa-lg fa-github"></i><a href="https://github.com/kabirvirji">kabirvirji</a></span>
        <span ng-if="linkedin" class="md-subhead page-subhead"><i class="fa fa-lg fa-linkedin-square"></i><a href="https://linkedin.com/in/kabirvirji">kabirvirji</a></span>
      </div>
    </div>

</body>
</html>